/* ==========================
   ABOUT
========================== */

.about{
    padding:120px 0;
    background:#111;
}

.about-container{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:80px;
    align-items:center;
}

.about-image{
    position:relative;
}

.about-image img{
    width:100%;
    border-radius:25px;
    display:block;
    box-shadow:0 30px 60px rgba(0,0,0,.45);
}

.about-image::after{
    content:"";
    position:absolute;
    width:180px;
    height:180px;
    border:3px solid #d4af37;
    border-radius:25px;
    right:-25px;
    bottom:-25px;
    z-index:-1;
}

.section-subtitle{
    color:#d4af37;
    letter-spacing:3px;
    font-size:14px;
    font-weight:600;
}

.about-content h2{
    margin:18px 0 25px;
    font-size:48px;
    line-height:1.2;
    font-family:'Cormorant Garamond', serif;
}

.about-content p{
    color:#cfcfcf;
    line-height:1.9;
    font-size:17px;
}

.features{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:25px;
    margin-top:45px;
}

.feature{
    background:#171717;
    border:1px solid rgba(255,255,255,.06);
    border-radius:20px;
    padding:25px;
    transition:.35s;
}

.feature:hover{
    transform:translateY(-8px);
    border-color:#d4af37;
}

.feature span{
    font-size:34px;
}

.feature h3{
    margin-top:12px;
    font-size:28px;
    color:#d4af37;
}

.feature p{
    margin-top:6px;
    font-size:14px;
}